<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vintage Story Launcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app">
        <div id="drag-header-terra"></div>
        <div class="header">
            <button class="header-button" id="hide-window">
                <img src="../images/hide-button.png" alt="hide-button">
            </button>
            <button class="header-button" id="close-window">
                <img src="../images/close-button.png" alt="close-button">
            </button>
        </div>
        <div id="container">
            <div class="sidebar">
                <div class="sidebar-content">
                    <img class="logotype" src="../images/logotype.png" alt="Logotype">
                    <div class="login-form">
                        <div class="login-form-header">
                            <label class="textbox" id="login">
                                <div class="icon">
                                    <img src="../images/user-icon.png" alt="Иконка логина">
                                </div>
                                <input type="text" name="login" placeholder="Введите ник">
                            </label>
    
                            <label class="textbox" id="password">
                                <div class="icon">
                                    <img src="../images/password-icon.png" alt="Иконка пароля">
                                </div>
                                <input type="password" name="password" placeholder="Введите пароль">
                            </label>
                        </div>

                        <div class="login-form-footer">
                            <label class="textbox" id="version">
                                <div class="icon">
                                    <img src="../images/version-icon.png" alt="Иконка пароля">
                                </div>
                                <select name="version" id="version-select">
                                    <option value="1-14-0-pre2">1.14.0-pre2</option>
                                    <option value="1-14-0-pre1">1.14.0-pre1</option>
                                    <option value="1-13-0">1.13.0 stable</option>
                                </select>
                            </label>
                            <button class="login-form-button" id="start-button">
                                <div class="icon">
                                    <img src="../images/download-icon.png" alt="Иконка скачивания">
                                </div>
                                <div class="name">Играть в Vintage Story</div>
                            </button>      
                        </div>
                    </div>
                    <div class="social-container">
                        <div class="social-buttons">
                            <button class="social-button vk" link="https://vk.com/vintage_story_club">
                                <img src="../images/button-social-vk.png" alt="Иконка ВКонтакте">
                            </button>

                            <button class="social-button discord" link="#">
                                <img src="../images/button-social-discord.png" alt="Иконка Discord">
                            </button>

                            <button class="social-button youtube" link="#">
                                <img src="../images/button-social-youtube.png" alt="Иконка YouTube">
                            </button>

                            <button class="social-button link" link="#">
                                <img src="../images/button-social-link.png" alt="Иконка сайта">
                            </button>
                        </div>
                        <div class="social-description" id="description">
                            Тут что-то должно быть..
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="news">
                    <div class="swiper-container news-container">
                        <div class="swiper-wrapper news-wrapper">
                            <div class="swiper-slide">
                                <div class="news-slide">
                                    <div class="news-slide-title">Обновление 1.14.0-pre.2!</div>
                                    <div class="news-slide-description">
                                        <b>Просьба обратить внимание: это незаконченное обновление, которое в основном предназначается для тестеров и моддеров. Вы можете столкнуться с многочисленными багами, незавершенными механиками и проблемами производительности и сбоями.</b>
                                        <br>
                                        <br>
                                        До v1.14-rc.1 мы все еще надеемся добавить:
                                        <br>
                                        <br>
                                        - Стальной век (готов на 50%)
                                        <br>
                                        - Готовые классы персонажей и сама кастомизация персонажей
                                        <br>
                                        - Обновление руин с детализированными блоками и блокам, которые покрыты мхом и лишайниками
                                        <br>
                                        - Комплект брони из метеоритного железа
                                        <br>
                                        - Возможно, рыбы (но не механику ловли рыбы сейчас, простите!)
                                        <br>
                                        - Влияние температуры
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news-slide">
                                    <div class="news-slide-title">Ползунок звука погоды (v1.13.4)</div>
                                    <div class="news-slide-description">
                                        <b>Новое обновление можно скачать через менеджер аккаунтов (ну или спиратить, что я крайне не советую)</b>
                                        <br>
                                        <br>
                                        - Добавлен ползунок звука погоды, чтобы изменять только звуки погоды
                                        <br>
                                        - Диалоговое окно среды (открываемое буквой C) теперь также показывает приблизительную частоту выпадения дождя.
                                        <br>
                                        - Доработан дождь. Немного уменьшилось количество осадков, благодаря чему тип дождя со временем стал чаще меняться. Исправлено несоответствие количества осадков между клиентом и сервером.
                                        <br>
                                        - Добавлено уведомление о загрузке мира.
                                        <br>
                                        - Сервер теперь падает, если обнаружен поврежденный чанк и когда он не находится в режиме восстановления, и другое...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="download">
                    <div class="download-client">
                        <div class="progress-number">50%</div>
                        <div class="progress-data">
                            <div class="progress-info">Загрузка assets.zip</div>
                            <div class="progress-line">
                                <span class="line-data" style="width: 50%;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="error">
                    <div class="error-title">Ошибка!</div>
                    <div class="error-content"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>